.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 15;
    background-color: var(--background-color-on-primary);
    padding: 4em 1em 1em 1em;
    font-size: 1em; 
    color: var(--light-on-background);
    height: 100%; 
}

.content {
    font-size: 0.75em;
}