.nav {
    padding: 1.5em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
}

.right {
    display: flex;
}

.left > * {
    margin-right: 10px;
}

.right > * {
    margin-left: 10px;
}