.header-info-section {
    background-color: var(--primary);
}

.header-thumbnail {
    background-image: url("/assets/images/thumbnail.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-info-text p:nth-child(1) {
    font-size: 3.5rem;
    line-height: 1.1;
}

.header-info-text p:nth-child(2) {
    font-size: 2.0rem;
    line-height: 1.1;
}