.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.littleText {
    font-weight: 500;
    font-size: 0.75em;
    margin-right: 5px;
}

.presentationText {
    display: flex;
    align-items: center;
    margin: 2em;
    color: var(--light-on-primary);
}

.presentationText img {
    transform: scaleX(-1); 
}
