@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #22211d;
  --muted: #a09e99;
  --primary: #f4f6fc;
  --hr: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #22211d;
    --foreground: #f7f5ef;
    --muted: #a09e99;
    --primary: #44423d;
    --secondary: #63615c;
    --hr: #63615c;
  }
}

.dark {
  --background: #22211d;
  --foreground: #f7f5ef;
  --muted: #a09e99;
  --primary: #44423d;
  --secondary: #63615c;
  --hr: #63615c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
