.carousel {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5em 0;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.carousel-track {
    display: flex;
    animation: scroll 120s linear infinite;
}

/* Icônes */
.carousel svg {
    width: 4em;
    height: 4em;
    color: var(--on-primary);
    margin: 0 2em;
}

@media (min-width: 768px) {
    .carousel svg {
        margin: 0 5em;           
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}