.button {
    color: var(--light-on-primary);
    display: flex;
    align-items: center;
    gap: 20;
    cursor: pointer;
}

.icon {
    background-color: var(--background-color-on-primary);
    width: 2em;
    height: 2em;
    border-radius: 100%;
    border: 1px solid var(--light-on-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon > * {
    width: 0.75em;
    height: 0.75em;
    color: var(--light-on-background);
}

.text {
    font-size: 0.75em;
    display: none;
}

/* md */
@media (min-width: 768px) {
    .text {
        display: inline;
    }
}